body {
  font-family: 'work sans', 'sans-serif' !important;
}

.error {
  margin-top: 5px;
  font-size: 13px;
  color: rgb(239 68 68);
}

#success {
  margin-top: 5px;
  font-size: 13px;
  color: #22c55e;
}

/* PRODUCTS */
.comments {
  position: relative;
  overflow: hidden;
  padding: 20px 50px;
  font-size: 80%;
}

.commm {
  padding: 0 10vw;
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 40px;
}

.product-container {
  padding: 0 10vw;
  height: auto;
  display: flex;
  align-items: center;
  scroll-behavior: smooth;
}


.product-image {
  position: relative;
  width: auto;
  height: 350px;
  overflow: hidden;
  
}

.product-card {
  flex: 0 0 auto;
  width: 400px;
  height: auto;
  margin-right: 40px;
}

.product-brand {
  font-size: 15px;
}

.product-brand img{
  width: 5em;
  height: 5em;
}




.pre-btn,
.nxt-btn {
  border: none;
  width: 10vw;
  height: 100%;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #fff 100%);
  cursor: pointer;
  z-index: 8;
}

.pre-btn {
  left: 0;
  transform: rotate(180deg);
}

.nxt-btn {
  right: 0;
}

.pre-btn img,
.nxt-btn img {
  opacity: 0.2;
}

.pre-btn:hover img,
.nxt-btn:hover img {
  opacity: 1;
}

.direction {
  direction: rtl;
}

.top-nav a {
  transition: 0.3s !important;
}

.top-nav a:hover {
  text-decoration: underline !important;
}

section {
  padding-bottom: 5rem;
}

#copy-right {
  color: white;
  text-align: center;
  font-size: 15px;
}